@media screen and (max-width: 1350px) {
  .container {
    max-width: 100%;
  }

  .header__nav-list {
    gap: 20px;
  }

  .footer__wrap {
    gap: 60px;
  }

  .banner__grid {
    grid-auto-rows: 294px;
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__box:nth-child(2) {
    grid-column: 2 span;
    grid-row: 2 span;
    order: 3;
  }

  .info__grid {
    grid-auto-rows: 485px;
    grid-template-columns: repeat(3, 1fr);
  }

  .section__new {
    max-width: 636px;
    width: 100%;
  }

  .section__grid {
    grid-auto-rows: 200px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .header__top {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  .header-left {
    flex-direction: column;
    gap: 20px;
  }

  .section__new-box-card-top {
    padding: 100px 10px 40px 10px;
  }

  .section__new-box-card-time {
    margin-top: 30px;
  }
}

@media screen and (max-width: 800px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__col-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__col-list_item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__col-title_sites {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .header__nav {
    padding: 20px 0;
  }

  .header__nav-list {
    flex-direction: column;
    gap: 15px;
  }
}
