@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-width: 320px;
}

.container {
  max-width: 1350px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  padding: 50px 0;
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__nav-list_item-link {
  font-weight: 400;
  font-size: 18px;
  color: #323232;
}

.header-el_right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
}

.header__top::after {
  content: "";
  max-width: 1320px;
  width: 100%;
  height: 2px;
  background: #323232;
  position: absolute;
  bottom: 20px;
}

.banner__grid {
  display: grid;
  grid-auto-rows: 294px;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  height: 100%;
  
}

.banner__box {
  background: #8484844d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.banner__box:nth-child(2) {
  grid-column: 2 span;
  grid-row: 2 span;
}

.banner__box-watch-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__box-img {
  max-width: 100%;
  width: 100%;
}

.banner__box-img img {
  width: 100%;
  height: 100%;
}

.banner__box-top {
  text-align: center;
}

.banner__box-p1 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.banner__box-h {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.banner__box-p2 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}

.banner__box-a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  background: #323232;
  color: #fff;
  padding: 11px 30px;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.banner__box-p3 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.banner__box-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.banner__box-p4 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
}

.banner__box-a2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  background: #323232;
  color: #fff;
  padding: 11px 30px;
  border-radius: 10px;
  position: absolute;
  top: -270px;
  right: 445px;
}

.banner__box-p5 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
}

.banner__box-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.banner__box-p6 {
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
}

.banner__box-a3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  background: #323232;
  color: #fff;
  padding: 11px 30px;
  border-radius: 10px;
  position: absolute;
  top: -100px;
  right: 295px;
}

.main {
  padding: 60px 0 0 0;
}

.title {
  padding: 62px 0;
  position: relative;
}

.title__news-h {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.title::after {
  content: "";
  max-width: 1320px;
  width: 100%;
  height: 2px;
  background: #323232;
  position: absolute;
  bottom: 20px;
}

.info {
  max-width: 1350px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.info__grid {
  display: grid;
  grid-auto-rows: 485px;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  height: 100%;
}

.info__news-box {
  background: #8484844d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}



.info__news-box-watch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__news-box__img {
  max-width: 100%;
  height: 100%;
}

.info__news-box__img img {
  width: 100%;
  height: 100%;
}

.info__news-box-text {
  text-align: center;
}

.info__news-box-p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  color: #323232;
  padding-top: 20px;
}

.info__news-box-h {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding-top: 20px;
}

.info__news-box-p2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  color: #323232;
  padding-top: 20px;
}

.info__news-box_percent {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: #323232;
  color: #fff;
  padding: 13px 34px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.info__news-box-a__like {
  background: #fff;
  padding: 15px 16px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.info__news-box-a__shop {
  background: #fff;
  padding: 15px 16px;
  border-radius: 10px;
  position: absolute;
  top: 90px;
  right: 20px;
}



.info__news-title {
  padding: 60px 0 0 0;
  text-align: center;
}

.info__news-h {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #323232;
}

.section__text {
  padding: 72px 0;
  position: relative;
}

.section__title {
  text-align: center;
}

.section__title-h {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000;
}

.section__text::after {
  content: "";
  max-width: 1320px;
  width: 100%;
  height: 2px;
  background: #323232;
  position: absolute;
  bottom: 30px;
}

.section__new {
  max-width: 1350px;
  width: 1296px;
  height: 470px;
  margin: 0 auto;
  padding: 0 0 60px 0;
  display: flex;
  align-content: inherit;
  justify-content: center;
}

.section__grid {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  gap: 24px;
}

.section__new-box {
  border-radius: 10px;
  position: relative;
}

.section__new-box:nth-child(1) {
  background: url("../img/paintig1.svg") no-repeat top center/cover;
  grid-row: 2 span;
}

.section__new-box:nth-child(2) {
  background: url("../img/painting2.svg") no-repeat top center/cover;
  grid-row: 2 span;
}

.section__new-box-card-top {
  padding: 110px 110px 10px 60px;
}

.section__new-box-card-top-h {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  
}

.section__new-box-card-top-a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #323232;
  background: #fff;
  padding: 13px 29px;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.section__new-box-card-top-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #e1e1e1;
  margin-top: 30px;
  margin-left: 4px;
}

.section__new-box-card-time {
  display: flex;
  gap: 10px;
  margin-top: 90px;
}

.section__new-box-card-time-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer {
  padding: 100px 0;
  background: #323232;
}

.footer__wrap {
  display: flex;
  gap: 160px;
  align-items: flex-start;
  justify-content: center;
}

.footer__col {
  max-width: 526px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__col-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.footer__col-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer__col-list_item-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.footer__col-title_address {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.footer__col-title_top-address {
  line-height: 2;
}

.footer__col-title_number {
  display: flex;
  gap: 10px;
}

.footer__col-title_number-a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.footer__col-title_email-a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.footer__col-title_top-sites {
  padding-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.footer__col-title_sites {
  display: flex;
  gap: 26px;
  padding-top: 20px;
}
